<!DOCTYPE html>
<html>
<head>
  <title>Shopping List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shopping.css') }}">
</head>
<body>

<div class = "grid-container">
  <div class="shopping-list">
    <h3>Shopping List</h3>
    <div id="shopping-table"></div>
  </div>

  <div class="recipe-list">
    <h3>Recipes</h3>
    <div id="recipes-table"></div>
  </div>

  <div class="ingredients-list">
    <h3>Ingredients</h3>
    <div id="ingredients-table"></div>
  </div>

  <div class="menu">
    <button id="save-btn">Save</button>
  </div>

</div>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/tabulator.min.css') }}">

<script src="{{ url_for('static', filename='js/tabulator.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/shopping.js') }}"></script>
</body>
</html>
