<!DOCTYPE html>
<html>
<head>
  <title>Shopping List</title>
</head>
<body>

<style>
  .grid-container {
    display: grid;
    grid-template-areas: "shopping recipe menu"
                         "shopping recipe menu";
    gap: 10px;
    padding: 10px;
  }

  .shopping-list {
    grid-area: shopping;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .recipe-list {
    grid-area: recipe;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .menu {
    grid-area: menu;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
  }
</style>

<div class = "grid-container">
  <div class="shopping-list">
    <h1>Shopping List</h1>
    <div id="shopping-table"></div>
  </div>

  <div class="recipe-list">
    <h1>Recipes</h1>
    <ul id="recipe-list"></ul>
  </div>

  <div class="menu">
    <button id="save-btn">Save</button>
  </div>

</div>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/tabulator.min.css') }}">

<script src="{{ url_for('static', filename='js/tabulator.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/shopping.js') }}"></script>
</body>
</html>
